@import '../../App.scss';

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #FFFBEF;
    margin-bottom: 20px;
    height: 100%;
    overflow-y: auto;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    max-width: 100%;

    h2 {
        font-size: 1.2rem; // 폰트 크기 줄임
        margin-bottom: 15px;
        color: $main-color;
        text-align: center; // 가운데 정렬
    }

    .submitButton {
        @include glass_box(fit-content, fit-content);
        font-family: "Pretendard-Bold";
        color: #fff;
        background-color: $main-color;
        font-weight: 400;
        font-size: 1rem; // 폰트 크기 줄임
        padding: 10px 20px; // 패딩 조정
        border-radius: $radius;
        cursor: pointer;
        margin: 20px auto 0; // 여백 조정
        border: none;
        transition: opacity 0.2s ease; // 부드러운 효과

        &:hover {
            opacity: 0.9;
        }
    }
}

@media (max-width: 768px) {
    .formContainer {
        max-width: 100%;
        flex-basis: auto;
    }
}