// src/components/Home/LoginButton.scss
@import "../../App.scss"; // 변수 사용 위해 필요

// 클래스 이름을 .sign_button 으로 변경
.sign_button {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;
  position: absolute;
  padding: 0px 10px 0;
  margin-bottom: 20px;


  > * {
    background: none;
    border: none;
    padding: 0;
    font-size: 0.9rem; 
    color: #333;
    font-weight: 600;
    font-family: "Pretendard-Regular", sans-serif;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }
}