/* DragAndDropInput.module.scss */
.DragAndDropInput {
  width: 100%;         /* Take full width of its container */
  height: 100%;        /* Take full height of its container */
  border: 2px dashed black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.12s ease-in;

  &--dragging {
      background-color: black;
      color: white;
  }
}