.FileListDisplay {
    margin-top: 1rem;
    width: 100%;
    &__file {
    padding: 8px;
    border: 1px solid black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    }
  
    &__remove {
    cursor: pointer;
    font-weight: bold;
    color: red;
    margin-left: 10px;
    padding: 0 5px;
    border: 1px solid red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
    opacity: 0.7;
    }
    }
   }