@import '../App.scss';

.AiGuide {
    height: 100vh;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 10px 0;
}

.ai_guide_container {
    min-height: 600px;
    margin: auto 0;
    width: 80%;
    height: 95%;
    max-width: 1200px;
    min-width: 700px;
    background-color: $light-color;
    display: flex;
    border-radius: $radius;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.ai_guide_right {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ai_guide_right_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .AiGuide {
        height: auto;
        min-height: 100vh;
        background-color: $bg-color;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding-top: 60px;
    }

    .ai_guide_container {
        margin: 0;
        width: 100%;
        max-width: none;
        background-color: $light-color;
        display: flex;
        flex-direction: column;
        border-radius: 0;
        box-shadow: none;
        overflow: auto;
        min-height: auto;
        height: auto;
    }

    .ai_guide_right {
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .ai_guide_right_wrapper {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
}