.authContainer {
  max-width: 450px;
  margin: 40px auto;
  padding: 30px;
  background-color: #FAF5EF; /* 사진과 동일한 배경색 */
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  input[type="email"],
  input[type="text"],
  input[type="password"],
  input[type="tel"] {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #2f80ed;
      box-shadow: 0 0 5px rgba(#2f80ed, 0.3);
    }
  }

  .genderButtons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    label {
      display: flex;
      align-items: center;
      cursor: pointer;

      input[type="radio"] {
        margin-right: 5px;
      }
    }
  }

  button[type="submit"] {
    padding: 14px 20px;
    background-color: #FFA500; /* 주황색으로 변경 */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(#FFA500, 10%);
    }
  }

  p {
    margin-top: 20px;
    color: #555;

    a {
      color: #2f80ed;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    margin-top: 25px;
    color: #555;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: #2f80ed;
      text-decoration: underline;
    }
  }
  
  /* 반응형 디자인 (작은 화면) */
  @media (max-width: 600px) {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    input[type="email"],
    input[type="text"],
    input[type="password"],
    input[type="tel"],
    button[type="submit"] {
      font-size: 1rem;
      padding: 10px;
    }

    .genderButtons {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      margin-bottom: 15px;
    }
  }

  @mixin glass_box($width, $height) {
    width: $width;
    height: $height;
  
    border-radius: $radius;
    border: 1px solid rgba(255, 255, 255, 0.3);
  
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
    backdrop-filter: blur(25px);
  }
}