// src/components/Mentor/MentorSearch.module.scss
@import "../../App.scss";

.searchContainer {
  display: flex;
  flex-direction: column;
  gap: 8px; /* 간격 줄임 */
  padding: 12px; /* 패딩 줄임 */
  background-color: #FFFBEF;
  border-radius: $radius;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* 너비를 100%로 설정 */

  h2 {
    color: $main-color;
    margin-bottom: 10px; /* 간격 줄임 */
    text-align: center;
    font-size: 1.1rem;
  }

  input {
    padding: 8px; /* input 패딩 줄임 */
    font-size: 0.9rem;
  }

  .priceRange {
    display: flex;
    gap: 8px; /* 간격 줄임 */
  }

  button {
    align-self: center;
    padding: 6px 12px; /* button 패딩 줄임 */
  }
}