// src/components/Mentor/MentorNavbar.module.scss
@import '../../App.scss'; //

.navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* flex-start로 변경 */
    background-color: #FFFBEF;
    border-right: 1.5px solid #ddd;
    padding: 20px 0;
    width: 250px;
    flex-shrink: 0;

    /* 데스크탑 타이틀 */
    .title {
        padding: 15px 20px;
        margin-bottom: 20px;

        h2 {
            font-size: 1.4rem;
            color: $main-color; //
            text-align: center;
        }
    }

    .modeWrapper {
        flex-grow: 1;
    }

    .extraWrapper {
        margin-bottom: 50px;
        flex-basis: auto;
    }

    .modeWrapper,
    .extraWrapper {
        margin-left: 12px;

        .modeTitle {
            font-size: 0.8rem;
            color: #999;
            margin-bottom: 18px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: flex;
                align-items: center;
                padding: 10px 10px;
                margin: 14px 5px;
                cursor: pointer;
                transition: background-color 0.2s ease;

                > *:first-child {
                    font-size: 1.1rem;
                    margin-right: 18px;
                    color: #777;
                }

                span {
                    font-size: 0.9rem;
                    color: #444;
                    font-family: 'Pretendard-Bold';
                }

                &:hover {
                    background-color: #f5f5f5;
                    * {
                        color: $main-color; //
                    }
                }

                &.selected {
                    background-color: $light-color; //
                    border-left: 4px solid $main-color; //

                    svg,
                    span {
                        color: $main-color; //
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .menuIcon {
        display: none;
    }
}

/* 모바일 스타일 */
@media (max-width: 768px) { /* mobileQuery 값으로 대체 가능 */
    .navbar {
        width: fit-content;
        padding: 20px;
        border-radius: 20px;
        border: 0.5px solid $main-color; //
        background-color: $light-color; //
        position: absolute;
        z-index: 3;
        height: auto;
        top: 20%;
        left: 20px;
        transition: all 0.3s;
        justify-content: flex-start;
        box-shadow: none;

        &.disappear {
            opacity: 0;
            transform: translateX(-120%);
        }

        &.appear {
            opacity: 1;
            transform: translateX(0%);
            box-shadow: 0px 0px 1000px 4000px rgba(0, 0, 0, 0.5);
        }

        .title {
             padding: 15px 20px;
             margin-bottom: 20px;
             border-bottom: 1px solid #eee;

             h2 {
                 font-size: 1.4rem;
                 color: $main-color; //
                 text-align: center;
             }
         }

        .menuIcon {
            display: block;
            cursor: pointer;
            color: #777;
            position: absolute;
            left: 2px;
            top: 10px;
            font-size: 1.2rem;
        }

         .modeWrapper,
         .extraWrapper {
             margin-left: 0;
             ul {
                 margin-left: 8px;
             }
         }

         /* 닫기 버튼 스타일 */
         .closeButton {
            position: absolute;
            top: 15px; /* 위치 조정 */
            right: 15px; /* 위치 조정 */
            font-size: 1.5rem; /* 크기 조정 */
            cursor: pointer;
            color: #888; /* 색상 조정 */
            background: none;
            border: none;
            padding: 0; /* 기본 패딩 제거 */
            line-height: 1; /* 라인 높이 조정 */
            z-index: 4; /* 다른 요소 위에 오도록 */
         }
    }
}